 
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Victor+Mono&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Victor Mono', monospace;
}
body{

	background-color: whitesmoke;
}
h1{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	text-align: center; 
	background-color: #1672D9;
	color: #F6FD3E;
	font-family: 'Electrolize', sans-serif;
}
.container{
	height: 90vh; 
}
.box{ 
	margin-top: 25px;
	display: flex;
	justify-content: center; 
}
.box input{
	border: none; 
	border: 1px solid royalblue; 
	width: 20%;
	height: 25px;
	padding: 10px;
}

.box button{ 
	cursor: pointer;
	border: none; 
	background-color: royalblue;
	color: yellow;
	padding: 10px;
	font-size: 18px;
}
.box-2{ 
	margin: auto;
	margin-top: 20px;
	width: 90%;
	display: flex; 
	flex-wrap: wrap; 
}
.box-2 .card-custom{
	display: flex;
	flex-wrap: wrap;
	margin: 15px;
	padding: 20px;
	width: 14rem;
	height: 15rem; 
	background-color: white;
	border-radius: 10px ;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}
.box-2 .card-custom img{
	margin: 15px 25%;
	width: 100px;
	height: 100px;
}
.box-2 .card-custom h4{
	width: 140px;
}
.box-2 .card-custom h5{
	color: grey;
}
.box-2 .card-custom .btn-detail{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: royalblue;
	color: #FFFF0B;
	padding: 5px; 
	width: 100%;
	cursor: pointer;
}

@media (max-width: 576px){

	.box-2{ 
		justify-content: center;
	}
}